Android/images/*.jpg
!Android/images/.empty
Android/images/extras/*.jpg
!Android/images/extras/.empty
.idea
Android/services/connection.php
Android/services/Mcrypt.php
services/connection.php
services/login.php